HistoNorm.eps
HistoNormM-H.eps
MSD-MH.eps
T10estaciones.eps
TortoisesMovModel.aux
TortoisesMovModel.fdb_latexmk
TortoisesMovModel.fls
TortoisesMovModel.log
TortoisesMovModel.synctex.gz
alfa_beta.eps
distribDistodasT.eps
histo15_30.eps
msd_dist.eps
msdtodasT.eps
tabla_exponentes.eps
tortuga10.eps
tortugas.tex
